@model IEnumerable<Model.Activities>

@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @*@using (Html.BeginForm]("Add","Activities",FormMethod.Post))*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activities2.ActContent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ActContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activities2.ActContent)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ActId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ActId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ActId })
        </td>
    </tr>
}

</table>
