
@model UI.Models.ActivitiesViewModel
@{
    ViewBag.Title = "大学生兼职工作发布区";
}
@section styles{
    <link href="~/Content/Activities/Activities.css" rel="stylesheet" />
    <style>
        .active-link {
            background-color: coral;
            color: white;
        }
    </style>
}
<h2>大学生兼职工作发布区</h2>
<section>
<div id="activities-page-top">
@foreach (var item in Model.Categories)
{
    <ul>
    <li>
    <a class="button-1" href="/Activities/Index">@item.CategoryName &raquo;</a>
    </li>
    </ul>
}
</div>
    <div id="activities-page-bottom">
        @foreach (var item in Model.Activities)
        {
            <ul>
                <li>
                    <a class="button-2" href="#">@item.ActContent &raquo;</a>
                    <a class="button" href="/Home/Index"> <input type="submit" value="接取任务" style="border:0;height:54px;margin-right:15px;line-height:0;background-color:coral;"/></a>
                </li>
            </ul>
        }
    </div>

    <!--分页实现方法-->
        <div id="fenye">
            <div class="pageBox">
                <ul>
                    @{ 
                        var maxCount = Model.ActivitiesCount % 10 == 0  
                            ? Model.ActivitiesCount / 10
                            : Model.ActivitiesCount / 10 + 1;
                        for (int i = 1; i <= maxCount; i++)
                        {
                            if (i == ViewBag.CurrentPageIndex)
                            {
                                var activeLinkClass = "active-link";
                                <li class=@activeLinkClass>@Html.ActionLink($"{ i }", "Index", new { page = i + 1 })</li>
                           }
                           else
                           {
                                <li>@Html.ActionLink($"{ i}", "Index", new { page = i })</li>
	                        }
                            //利用最大长度进行分页下面图标的自动设置+1，当处于最大页码数时，结尾直接没有！！！
                       }
                       if (ViewBag.CurrentPageIndex < maxCount)
                       {
                        <li>
                            @Html.ActionLink("下一页", "Index", new { page = ViewBag.CurrentPageIndex + 1 })
                        </li>
                       }
                    }               
                </ul>               
            </div>      
        </div>
</section>
 


